@use './partials/variables' as *;
@import 'node_modules/@fontsource/roboto/index.css';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}



.container{
    width: calc(100% / 27 * 17);
    margin: 0 auto;
    padding: 0;
    height: 100%;
    /*debug
    min-height: 25px;
    border: 1px dotted red;
    */
}

li {
    list-style: none;
}

a {
    color: $cc-white;
}