@use './partials/variables' as *;
@use './partials/mixin' as *;
@import 'node_modules/@fontsource/roboto/index.css';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'node_modules/bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}



.ac-container{
    width: calc(100% / 27 * 17);
    margin: 0 auto;
    padding: 0;
    //debug
    @include debug;
}

li {
    list-style: none;
}

a {
    color: $cc-white;
    text-decoration: none;
}

img{
    width: 100%;
}