@use './variables' as *;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin debug {
    border: 1px dotted red;
}

@mixin cta_btn {
    min-width: 50px;
    padding: 5px 15px;
    background-color: $md-denim;
    color: $cc-white;
    border-radius: 15px;
}