@use './variables' as *;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center_div {
    @include center();
    height: 100%;
}

@mixin debug {
    border: 1px dotted red;
}

@mixin cta_btn {
    width: max-content;
    padding: 7px 20px;
    background-color: $md-denim;
    color: $cc-white;
    border-radius: 15px;
    font-weight: 900;
}