//Color cube
$cc-white: #fefefe;
$cc-lima: #69bf14;
$cc-denim: #1975c0;
$cc-silver-chalice: #afaeae;
$cc-shark: #262727;
$cc-dove-gray: #6b6b6b;
$cc-sunglo: #dd7069;


//Median cut
$mc-hippie-green: #4c8d53;
$mc-mercury: #e9e9e9;
$mc-barley-corn: #9ba05a;
$mc-beaver: #86695a;
$mc-oslo-gray: #93989b;

//Material design
$md-denim: #1b74c3;
$md-river-bed: #4d596a;
$md-lima: #6bbb14;
$md-shark: #292b2f;
$md-mantis: #8fce53;